body{
  background-color: #000032;
  background-image: url('./assets/IMG_0018.jpg');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo-container {
  display: flex;
  
}
.header {
  color: #FBB99F;
  background-color: #000032;
  box-shadow: 0px 3px 3px #000032;
}

.connectButton {
  background-color: #000032;
  transition-duration: 200ms;
  font-size: medium;
  border: 0;
  height: 40px;
  color: hsl(17, 92%, 80%);
}
.connectButton:hover{
  background-color: hsl(240, 100%, 30%);
  border-radius: 10px;
  font-size: medium;
  transition-duration: 200ms;
}

.connectButton:active{
  background-color: hsl(240, 100%, 45%);
  transition-duration: 100ms;
  color: hsl(17, 92%, 92%);
}

.card-header {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
  color: #FBB99F;
}

.card-header h1{
  justify-content: center;
  align-items: center;
}

.input-eth-container {
  max-height: fit-content;
  display: flex;
  justify-content: space-around;
  align-items: top;
}

.input-eth-container button{
  background-color: #000032;
  transition-duration: 200ms;
  font-size: medium;
  border: 0;
  height: 40px;
  color: #FBB99F;
  border-radius: 10px;
}

.input-eth-container button:hover{
  background-color: hsl(240, 100%, 30%);
  border-radius: 10px;
  font-size: medium;
  transition-duration: 200ms;
}

.input-eth-container button:active {
  background-color: hsl(240, 100%, 45%);
  transition-duration: 100ms;
  color: hsl(17, 92%, 92%);
}
.card-container {
  width: 400px;
  border-radius: 25px;
  background-image: radial-gradient(hsl(240, 100%, 20%), hsl(240,100%,10%));
  height: 400px;
  margin: 75px;
  justify-content: center;
  align-items: center;
}

.price-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo{
  background-image: url('./assets/IMG_0018.jpg');
}

.balance{
  color: hsl(250, 6%, 21%);
  text-decoration: underline;
  padding-left: 50px;
  
}

.balance-container{
  align-items: bottom;
  display: flex;
  justify-content: left;
  max-height: fit-content;
  margin: 0;
  padding: 0;
}